<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aman.hospitalappointy">


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />


    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/heart_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/heart_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Patient_DoctorProfileActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Patient_RegistrationActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Patient_BookAppointmentActivity"
            android:parentActivityName=".Patient_DoctorProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Patient_ShowBookedAppointmentActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Doctor_ProfileActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Doctor_EditProfileActivity"
            android:parentActivityName=".Doctor_ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Doctor_ShowAppointmentActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Forgot_PasswordActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />


        <activity android:name=".FeedbackActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".About_App"
            android:screenOrientation="portrait"/>

        <activity android:name=".Setting"
            android:screenOrientation="portrait"/>


        <service android:name="com.inuker.bluetooth.library.BluetoothService" />
        <service android:name=".oad.service.DfuService" />
        <activity android:name=".oad.activity.NotificationActivity" />
        <activity android:name=".activity.OperaterActivity" />

    </application>

</manifest>